<nz-table #table [nzData]="news_list">
  <thead>
  <tr>
    <th nzWidth="15%">Title</th>
    <th nzWidth="50%">Content</th>
    <th nzWidth="25%">Timestamp</th>
    <th nzWidth="10%">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let news of table.data">
    <td>{{ news.title }}</td>
    <td>{{ news.content }}</td>
    <td>{{ news.timestamp | timestamp }}</td>
    <td><span [routerLink]="'/news/' + news.key" nz-icon nz-tooltip="View" nzTheme="outline" nzType="eye"></span></td>
  </tr>
  </tbody>
</nz-table>