<nz-layout class="app-layout">

  <nz-sider [nzTrigger]="null" nzBreakpoint="md" nzCollapsible nzWidth="256px">
    <div id="logo-div">
      <img alt="logo" height="372" id="logo" ngSrc="assets/icon.png" width="372">
    </div>
    <ul nz-menu nzMode="inline" nzTheme="dark">
      <li nz-submenu nzIcon="dashboard" nzOpen nzTitle="News">
        <ul>
          <li nz-menu-item nzMatchRouterExact><a routerLink="/news">Create News</a></li>
          <li nz-menu-item nzMatchRouterExact><a routerLink="/news/list">List News</a></li>
        </ul>
      </li>

      <li nz-submenu nzIcon="dashboard" nzOpen nzTitle="FAQ">
        <ul>
          <li nz-menu-item nzMatchRouter><a>Statistics</a></li>
        </ul>
      </li>

      <li nz-submenu nzIcon="dashboard" nzOpen nzTitle="Chat">
        <ul>
          <li nz-menu-item nzMatchRouter><a>Create</a></li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout class="right-layout">
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>

</nz-layout>

<ng-template #validationMessageTemplate let-control>
  <app-validation-message [control]="control" style=""></app-validation-message>
</ng-template>